@page "/Admin"
@using DotCast.App.Shared

<Button Clicked="async () => await uploadModalRef.Show()" Color="Color.Success">
    Upload new
</Button>
<hr />
<Button Clicked="RestoreAudioBooksFromStorage" Color="Color.Warning">
    Restore audiobooks from Storage
</Button>



<Modal @ref="uploadModalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Upload AudioBook</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <h3></h3>
            <p>Enter AudioBook name</p>
            <TextEdit TextChanged="BookNameTextChanged" />
            <p>Id: @newAudioBookId</p>
            @if (ReadyForUpload)
            {
                <p>
                    <label>
                        <FileUpload PresignedUrlFactory="GetPresignedUrls" />
                    </label>
                </p>
            }
        </ModalBody>
    </ModalContent>
</Modal>