@page "/Admin"

<h3>Upload Podcast</h3>
<p>Enter podcast name</p>
<input @bind="PodcastName" />

@if (!string.IsNullOrWhiteSpace(PodcastName))
{
    <p>
        <label>
            <InputFile OnChange="@UploadFiles" multiple />
        </label>
    </p>
}

@foreach (var file in Files)
{
    @file.File.Name
    <Progress Value="@file.UploadPercentage"> </Progress>
}
