@page "/Admin"
@using DotCast.App.Auth

<h3>Upload AudioBook</h3>
<p>Enter AudioBook name</p>
<TextEdit @bind-Text="AudioBookName" />
@if (!string.IsNullOrWhiteSpace(AudioBookName))
{
    <p>
        <label>
            <InputFile OnChange="@UploadFiles" multiple />
        </label>
    </p>
}
<p>@ErrorText</p>
@foreach (var file in Files)
{
    @file.File.Name
    <Progress Value="@file.UploadPercentage"> </Progress>
}
<hr />
<Button Clicked="UnzipAll" Color="Color.Danger">
    Unzip all AudioBooks.
</Button>
<Button Clicked="ZipAll" Color="Color.Danger">
    Ensure all AudioBooks have zip versions.
</Button>
