@page "/Admin"
@using DotCast.App.Auth

<h3>Upload Podcast</h3>
<p>Enter podcast name</p>
<input @bind="PodcastName" />

@if (!string.IsNullOrWhiteSpace(PodcastName))
{
    <p>
        <label>
            <InputFile OnChange="@UploadFiles" multiple />
        </label>
    </p>
}
<p>@ErrorText</p>
@foreach (var file in Files)
{
    @file.File.Name
    <Progress Value="@file.UploadPercentage"> </Progress>
}
<hr />
<Button Clicked="() => UnzipAll()" Color="Color.Danger">
    Unzip all podcasts.
</Button>
<Button Clicked="ZipAll" Color="Color.Danger">
    Ensure all podcasts have zip versions.
</Button>