@inherits LayoutComponentBase

<PageTitle>DotCast</PageTitle>

<Layout>
    <LayoutHeader>
        <NavMenu />
    </LayoutHeader>
    <LayoutContent>
        @Body
    </LayoutContent>
    <LayoutFooter>
        <a href="https://tichymichal.net">Tichý Michal</a> - 2022
    </LayoutFooter>
</Layout>
